.App {
  text-align: center;
}

.users-list-container {
  text-align: center;
}

h1 {
  margin-bottom: 10px;
}

.search-container {
  margin-bottom: 20px;
}

.user-profile-container {
  text-align: center;
  padding: 20px;
}

.user-profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.user-profile-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.user-profile-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.user-profile-email,
.user-profile-phone {
  margin-bottom: 5px;
}

.user-card {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.user-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.user-name {
  margin-top: 10px;
  font-weight: bold;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.login-card {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 400px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  margin-left: 10px;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: larger;
}

button:hover {
  background-color: #0056b3;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
